.split-banner-item {
    position: relative;
    height: var(--media-height);
    overflow: hidden;
}

.split-banner-image {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--colorImageBg);
    overflow: hidden;
}

.split-banner-image img {
    object-position: top !important;
}

.split-banner-image:after {
    content: "";
    background-color: var(--overlay-bg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: var(--overlay-opacity);
}

.split-banner-content {
    position: absolute;
    max-height: 100%;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
}

.split-banner-heading {
    color: var(--overlay-heading-color);
}
.split-banner-desc {
    color: var(--overlay-text-color);
    padding-top: 10px;
    max-width: 350px;
    transition: .4s ease;
}
.split-banner-content-inner.text-center .split-banner-desc {
    margin: 0 auto;
}


@media (min-width:1025px) {
    .split-banner-wrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
    }
    .split-banner-item {
        flex: 1;
        transition: .8s ease;
    }
    .split-banner-item:hover {
        flex: 1.5;
    }
    .split-banner-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* width: calc(50vw + 2px); */
        transition: 1s ease;
    }
    .split-banner-content {
        padding: 25px;
    }
    .split-banner-content-inner{
        overflow: hidden;
        transition: .4s ease;
    }
    .split-banner-desc,
    .split-banner-content-inner {
        transform: translateY(var(--desc-height));
    }
    .split-banner-item:hover .split-banner-desc,
    .split-banner-item:hover .split-banner-content-inner {
        transform: unset;
    }
}

@media (max-width:1024px) {
    .split-banner-wrapper {
        display: grid;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        grid-auto-columns: minmax(75%, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(75%, 1fr));
        grid-auto-flow: column;
    }
    .split-banner-item {
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
}
